docs/build
*pyc

# documentation artifacts
html/*

# otherwise CI thinks index not clean
*.resolved

# project-specific
.DS_Store

#to be able to push src of projects without everything else
build/
.catkin_tools/
devel/
logs/
